DATA_DIRECTORY={{ sequencer_data_dir }}
ETHEREUM_HOSTS="{{ vault.testnet.sequencer.eth.rpc_url }}"
L1_CONSENSUS_HOST_URLS="{{ vault.testnet.sequencer.consensus.rpc_url }}"
VALIDATOR_ADDRESS="0x8FC29e50BD404db911b917742ceC427066055EE1"
COINBASE="0x1b49064F74A3048D619D9a3aa1DC5a43092BAaeC"
P2P_IP={{ ansible_default_ipv4.address }}
P2P_PORT={{ aztec.sequencer.ports.p2p_port }}
P2P_MAX_TX_POOL_SIZE=1000000000
AZTEC_PORT={{ aztec.sequencer.ports.service_port }}
PATH={{ sequencer_nodejs_dir }}:{{ ansible_env.PATH }}
PEER_ID_PRIVATE_KEY_PATH= {{ sequencer_p2p_private_key_path }}
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT={{ aztec.sequencer.metrics_endpoint }}

BB_WORKING_DIRECTORY={{ sequencer_bb_dir }}
BB_BINARY_PATH={{ sequencer_bb_binary_path }}
ACVM_WORKING_DIRECTORY={{ sequencer_acvm_dir }}
ACVM_BINARY_PATH={{ sequencer_acvm_binary_path }}
