DATA_DIRECTORY={{ sequencer_data_dir }}
ETHEREUM_HOSTS="{{ vault.testnet.validator.eth.rpc_url }}"
L1_CONSENSUS_HOST_URLS="{{ vault.testnet.validator.consensus.rpc_url }}"
VALIDATOR_ADDRESSES="0x8FC29e50BD404db911b917742ceC427066055EE1,0x472d8B72FbBe9afaf43a63a76D477f387d50DCA8,0xd90079C5E99d733456165333547c1e9C47538348,0x1B25Cd52C5bc38481612AF13E42Bc10A2eA3E2a3,0x5903B6F664e357C8042d9d38041F217e8EE0c405,0x0423e220e40668FE977b009a5734D1325C6e5D45,0x694fc6e79f2eB3068EcDd500b39f6E9B6D77aA8A,0xa6AE02bA31ADADE9d36583bfaf29E1573f4897BA,0x220a97653C5f2877d7d896fa89FE1021ec2ADb72,0xAd5863473e8c47953852E3e33b233A504cC3271b"
# Recieves L1 rewards
COINBASE="0x1b49064F74A3048D619D9a3aa1DC5a43092BAaeC"
# Recieves L2 rewards
#FEE_RECIPIENT=
P2P_IP={{ ansible_default_ipv4.address }}
P2P_PORT={{ aztec.validator.ports.p2p_port }}
P2P_MAX_TX_POOL_SIZE=1000000000
AZTEC_PORT={{ aztec.validator.ports.service_port }}
AZTEC_ADMIN_PORT={{ aztec.validator.ports.admin_port }}
PATH={{ sequencer_nodejs_dir }}:{{ ansible_env.PATH }}
PEER_ID_PRIVATE_KEY_PATH= {{ sequencer_p2p_private_key_path }}
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT={{ aztec.validator.metrics_endpoint }}
OTEL_EXCLUDE_METRICS="discv5_rcvd_message_count,discv5_sent_message_count"

BB_WORKING_DIRECTORY={{ sequencer_bb_dir }}
BB_BINARY_PATH={{ sequencer_bb_binary_path }}
ACVM_WORKING_DIRECTORY={{ sequencer_acvm_dir }}
ACVM_BINARY_PATH={{ sequencer_acvm_binary_path }}

AUTO_UPDATE=config-and-version

GOVERNANCE_PROPOSER_PAYLOAD_ADDRESS=0xDCd9DdeAbEF70108cE02576df1eB333c4244C666
